<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807133465102-7l8t6ge9e0jcv83p0792ajg0tdjn6num.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807133465102-7l8t6ge9e0jcv83p0792ajg0tdjn6num</string>
	<key>API_KEY</key>
	<string>AIzaSyCdKYucb4ppD3JX7swHW9jukEtLczbBJ3w</string>
	<key>GCM_SENDER_ID</key>
	<string>807133465102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akash.google.docs.googleDocsClone</string>
	<key>PROJECT_ID</key>
	<string>docs-clone-210a8</string>
	<key>STORAGE_BUCKET</key>
	<string>docs-clone-210a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807133465102:ios:13b99e5ac90fcdb2df4a5f</string>
</dict>
</plist>